<!DOCTYPE html>
<html>
   <head>
      <title>Europet Mailer</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://139.59.43.169/Europet-mailer/css/style.css">
   </head>
   <body>
      <div class="whole-mailer">
      <div class="logo">
         <img src="img/Europet logo - mail@2x.png">
      </div>
      <div class="mailer-header">
         Account Created Successfully !
      </div>
      <div class="center-contents">
         <div class="pubbles">
            <img src="http://139.59.43.169/Europet-mailer/img/circle - big@2x.png" class="big-img-left">
            <img src="http://139.59.43.169/Europet-mailer/img/circle - small@2x.png" class="small-img-left">
         </div>
         <div class="container">
            <h4>Congratulations, your account has been <br> created successfully.</h4>
         </div>
         <div class="pubbles pubbles-two">
            <img src="http://139.59.43.169/Europet-mailer/img/circle - small@2x.png" class="small-img-left">
            <img src="http://139.59.43.169/Europet-mailer/img/circle - big@2x.png" class="big-img-left">
         </div>
      </div>
      <div class="mailer-contents">
         <div class="container">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur.</p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            <div class="regards">
               <p>Thank you for your co-operation, </br> Best Regards.</p>
            </div>
         </div>
      </div>
   </body>
</html>